<div class="container-fluid">
    <app-loader></app-loader>
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xl-10 mx-auto">
                            <h3 class="display-4">Register !</h3>
                            <br>
                            
                            <h4>I am </h4>
                            <div class="mb-4">
                                <div class="form-row mb-4">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option" id="Customer" value = "customer" checked (change) = "onOptionChange($event)">
                                            <label class="form-check-label" for="Customer">
                                              Customer
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="option" id="Vendor" value = "vendor" (change) = "onOptionChange($event)">
                                            <label class="form-check-label" for="Vendor">
                                              Vendor
                                            </label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <!-- Default form register -->
                                <form class="text-center border border-light" (ngSubmit) = "onSubmit()" [formGroup]="reactiveForm">
                                    
                                    <!-- Customer Form -->
                                    <div *ngIf="!isVendor">
                                    <div class="form-row mb-4">
                                        <div class="col">
                                          <!-- First name -->
                                          <input type="text" formControlName="firstname" autofocus="" id="firstname" class="form-control" placeholder="First name">
                                            <div class="err" *ngIf="submitted && validate.firstname.errors">
                                                <div *ngIf="validate.firstname.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.firstname.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Name
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                          <!-- Last name -->
                                          <input type="text" formControlName="lastname" id="lastname" class="form-control" placeholder="Last name">
                                            <div class="err" *ngIf="submitted && validate.lastname.errors">
                                                <div *ngIf="validate.lastname.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.lastname.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Name
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                            
                                    <!-- E-mail -->
                                    <div class="mb-4">
                                        <input type="email" formControlName = "email" id="email" class="form-control" placeholder="E-mail">
                                        <div class="err" *ngIf="submitted && validate.email.errors">
                                            <div *ngIf="validate.email.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.email.errors.email" class="text-left text-danger">
                                                Invalid Email ..@
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Password -->
                                    <div class="mb-4">
                                        <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                                        <div class="err" *ngIf="submitted && validate.password.errors">
                                            <div *ngIf="validate.password.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.password.errors.pattern" class="text-left text-danger">
                                                *Enter Valid password
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Confirm Password -->
                                    <div class="mb-4">
                                        <input type="password" formControlName="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                                        <div class="err" *ngIf="submitted && validate.confirmpassword.errors">
                                            <div *ngIf="validate.confirmpassword.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.confirmpassword.errors.MustMatch" class="text-left text-danger">
                                                ConfirmPassword Didn't Match 
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Phone number -->
                                    <div class="mb-4">
                                        <input type="text" formControlName="phoneno" id="phoneno" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" maxlength="12">
                                        <div class="err" *ngIf="submitted && validate.phoneno.errors">
                                            <div *ngIf="validate.phoneno.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.phoneno.errors.pattern" class="text-left text-danger">
                                                *Enter Valid PhoneNo
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <h5> Gender </h5>
                                    <div class="form-row mb-4">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" value = "MALE" id="MALE" checked (change) = "onGenderChnage($event)">
                                                <label class="form-check-label" for="MALE">
                                                  Male
                                                </label>
                                              </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" id="FEMALE" value = "FEMALE" (change) = "onGenderChnage($event)">
                                                <label class="form-check-label" for="FEMALE">
                                                  Female
                                                </label>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <h5> Billing Address </h5>
                                    <!-- Address 1 -->
                                    <div class="mb-4">
                                        <input type="text" formControlName="address1" id="address1" class="form-control" placeholder="Address 1" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                        <div class="err" *ngIf="submitted && validate.address1.errors">
                                            <div *ngIf="validate.address1.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.address1.errors.pattern" class="text-left text-danger">
                                                *Enter Valid Address
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Address 2 -->
                                    <div class="mb-4">
                                        <input type="text" formControlName="address2" id="address2" class="form-control" placeholder="Address 2" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                        <div class="err" *ngIf="submitted && validate.address2.errors">
                                            <div *ngIf="validate.address2.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.address2.errors.pattern" class="text-left text-danger">
                                                *Enter Valid Address
                                            </div>
                                        </div>
                                    </div>

                                    <!-- County State DropDown -->
                                    <div class="row mb-4">
                                        <div class="col text-left">
                                          <div ngbDropdown class="d-inline-block">
                                                <label class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ selectedCounrty }} </label>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                    <label ngbDropdownItem *ngFor="let c of country"  (click) = "onChangeCountry(c)"> {{ c }} </label>
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <div class="col text-right">
                                          <div ngbDropdown class="d-inline-block">
                                            <label class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{ selectedState }}</label>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                              <label ngbDropdownItem *ngFor="let s of state" (click) = "onChangeState(s)"> {{ s }} </label>
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                    <!-- Pincode -->
                                    <div class="mb-4">
                                        <input type="text" formControlName="pincode" id="pincode" class="form-control" placeholder="Pincode" aria-describedby="defaultRegisterFormPhoneHelpBlock" maxlength="6">
                                        <div class="err" *ngIf="submitted && validate.pincode.errors">
                                            <div *ngIf="validate.pincode.errors.required" class="text-left text-danger">
                                                *Required 
                                            </div>
                                            <div *ngIf="validate.pincode.errors.pattern" class="text-left text-danger">
                                                *Enter Valid pincode
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Hobby -->
                                    <h5 class = "mb-4"> Hobby </h5>  
                                    <div class="row mb-4">
                                        <div class = "col" *ngFor="let h of hobby">
                                            <input mdbCheckbox type="checkbox" class="btn-check" [id]="h" autocomplete="off" (change) = "check(h,$event)" />
                                            <label class="btn btn-outline-primary" [for]="h"> {{ h }} </label>
                                        </div>
                                    </div>

                                    <br>
                                    </div>



                                    <!-- Vendor -->
                                    <div *ngIf="isVendor">
                                        <div class="form-row mb-4">
                                            <div class="col">
                                              <!-- First name -->
                                              <input type="text" formControlName="firstname" autofocus="" id="firstname" class="form-control" placeholder="First name">
                                                <div class="err" *ngIf="submitted && validate.firstname.errors">
                                                    <div *ngIf="validate.firstname.errors.required" class="text-left text-danger">
                                                        *Required 
                                                    </div>
                                                    <div *ngIf="validate.firstname.errors.pattern" class="text-left text-danger">
                                                        *Enter Valid Name
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="col">
                                              <!-- Last name -->
                                              <input type="text" formControlName="lastname" id="lastname" class="form-control" placeholder="Last name">
                                                <div class="err" *ngIf="submitted && validate.lastname.errors">
                                                    <div *ngIf="validate.lastname.errors.required" class="text-left text-danger">
                                                        *Required 
                                                    </div>
                                                    <div *ngIf="validate.lastname.errors.pattern" class="text-left text-danger">
                                                        *Enter Valid Name
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        
                                        <!-- Company name -->
                                        <div class = "mb-4">
                                            <input type="text" formControlName="companyname" id="companyname" class="form-control" placeholder="Company name">
                                            <div class="err" *ngIf="submitted && validate.companyname.errors">
                                                <div *ngIf="validate.companyname.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.companyname.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Name
                                                </div>
                                            </div>
                                        </div>

                                        <!-- E-mail -->
                                        <div class="mb-4">
                                            <input type="email" formControlName = "email" id="email" class="form-control" placeholder="E-mail">
                                            <div class="err" *ngIf=" submitted && validate.email.errors">
                                                <div *ngIf="validate.email.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.email.errors.email" class="text-left text-danger">
                                                    Invalid Email ..@
                                                </div>
                                            </div>
                                        </div>
    
                                        <!-- Password -->
                                        <div class="mb-4">
                                            <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                                            <div class="err" *ngIf="submitted && validate.password.errors">
                                                <div *ngIf="validate.password.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.password.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Password
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Confirm Password -->
                                        <div class="mb-4">
                                            <input type="password" formControlName="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                                            <div class="err" *ngIf="submitted && validate.confirmpassword.errors">
                                                <div *ngIf="validate.confirmpassword.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.confirmpassword.errors.MustMatch" class="text-left text-danger">
                                                    ConfirmPassword Didn't Match 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Phone number -->
                                        <div class="mb-4">
                                            <input type="text" formControlName="phoneno" id="phoneno" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" maxlength="12">
                                            <div class="err" *ngIf="submitted && validate.phoneno.errors">
                                                <div *ngIf="validate.phoneno.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.phoneno.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid PhoneNo
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <h5> Billing Address </h5>
                                        <!-- Address 1 -->
                                        <div class="mb-4">
                                            <input type="text" formControlName="address1" id="address1" class="form-control" placeholder="Address 1" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                            <div class="err" *ngIf="submitted && validate.address1.errors">
                                                <div *ngIf="validate.address1.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.address1.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Address
                                                </div>
                                            </div>
                                        </div>
    
                                        <!-- Address 2 -->
                                        <div class="mb-4">
                                            <input type="text" formControlName="address2" id="address2" class="form-control" placeholder="Address 2" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                            <div class="err" *ngIf="submitted && validate.address2.errors">
                                                <div *ngIf="validate.address2.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.address2.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Address
                                                </div>
                                            </div>
                                        </div>
    
                                        <!-- County State DropDown -->
                                        <div class="row mb-4">
                                            <div class="col text-left">
                                              <div ngbDropdown class="d-inline-block">
                                                    <label class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ selectedCounrty }} </label>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                        <label ngbDropdownItem *ngFor="let c of country"  (click) = "onChangeCountry(c)"> {{ c }} </label>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <div class="col text-right">
                                              <div ngbDropdown class="d-inline-block">
                                                <label class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{ selectedState }}</label>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                                  <label ngbDropdownItem *ngFor="let s of state" (click) = "onChangeState(s)"> {{ s }} </label>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
    
                                        <!-- Pincode -->
                                        <div class="mb-4">
                                            <input type="text" formControlName="pincode" id="pincode" class="form-control" placeholder="Pincode" aria-describedby="defaultRegisterFormPhoneHelpBlock" maxlength="6">
                                            <div class="err" *ngIf="submitted && validate.pincode.errors">
                                                <div *ngIf="validate.pincode.errors.required" class="text-left text-danger">
                                                    *Required 
                                                </div>
                                                <div *ngIf="validate.pincode.errors.pattern" class="text-left text-danger">
                                                    *Enter Valid Pincode
                                                </div>
                                            </div>
                                        </div>
    
                                        </div>




                                    <!-- Upload -->
                                    <h5 class = "mb-4"> Profile Image </h5>  
                                    <div class="file-field mb-4">
                                        <input type="file" mdbFileSelect (change)="uploadFile($event)">
                                    </div>
                                    

                                    <!-- Sign up button -->
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign Up</button>                               
                            
                                    <hr>
                            
                                    <!-- Terms of service -->
                                    <p>By clicking
                                    <em>Sign up</em> you agree to our
                                    <a href="" target="_blank">terms of service</a></p>
                            
                                </form>

                                <!-- Default form register -->
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>